/* Selects the root element of the document:
   <html> in the case of HTML */
:root {
  --grid-cols: 1;
  --grid-rows: 1;
  --grid-width: 25px;
  --grid-height: 25px;
}

#grid {
  display: grid;
  /* Defines the track sizing function*/
  grid-template-rows: repeat(var(--grid-rows), var(--grid-height));
  grid-template-columns: repeat(var(--grid-cols), var(--grid-width));
}

.grid-item {
  border: 1px solid #ddd;
}
